.button {
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;
    background: #f9f9f9;
    color: black;
    border: 1px solid #d3daf4;
    border-radius: 2px;
    text-decoration: none !important;
}

.button:hover {
    background: #365fe5;
    color: white;
    transform: scale(1.01);
    border: 1px solid #133fd0;
}

.button:active {
    transform: scale(0.95);
}

.button-drink-card {
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 3px;
    background: #f9f9f9;
    color: black;
    border: 1px solid #d3daf4;
    border-radius: 2px;
    text-decoration: none !important;
}

.button-drink-card:active {
    transform: scale(0.95);
}