.drink-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.animar {
    animation: fade .5s;
}

@keyframes fade {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
} 

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3px;
}

.search-box-container {
    margin-top: 10px; 
    margin-bottom: 10px;
}

/*

    RESPONSIVE DESIGN

*/

@media (min-width: 600px){
    .nav-mobile {
        display: none;
    }
}

@media (max-width: 600px){
    .nav {
        display: none;
    }
    
    .nav-mobile {
        display: inline-block;
    }

    .search-box-container {
        width: 100%;   
    }

    .container {
        margin-left: 2px;
        margin-right: 2px;
    }

    .drink-container {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}